<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminProfileControler</servlet-name>
        <servlet-class>controler.AdminProfileControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestResultListControler</servlet-name>
        <servlet-class>controler.TestResultListControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterControler</servlet-name>
        <servlet-class>controler.patient.RegisterControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controler.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestResultDetailControler</servlet-name>
        <servlet-class>controler.TestResultDetailControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPatientControler</servlet-name>
        <servlet-class>controler.patient.ListPatientControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTestController</servlet-name>
        <servlet-class>controler.nurse.CreateTestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrescriptionList</servlet-name>
        <servlet-class>controller.doctor.PrescriptionListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTest</servlet-name>
        <servlet-class>controler.ViewTestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateInjection</servlet-name>
        <servlet-class>controler.nurse.CreateInjectionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewInjection</servlet-name>
        <servlet-class>controler.ViewInjectionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePassController</servlet-name>
        <url-pattern>/base/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordControler</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterControler</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountListControler</servlet-name>
        <url-pattern>/admin/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/base/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProfileControler</servlet-name>
        <url-pattern>/admin/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestResultListControler</servlet-name>
        <url-pattern>/admin/results</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestResultDetailControler</servlet-name>
        <url-pattern>/admin/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPatientControler</servlet-name>
        <url-pattern>/base/listpatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTestController</servlet-name>
        <url-pattern>/base/createTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrescriptionList</servlet-name>
        <url-pattern>/base/prescription-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTest</servlet-name>
        <url-pattern>/base/viewTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateInjection</servlet-name>
        <url-pattern>/base/createInjection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewInjection</servlet-name>
        <url-pattern>/base/viewInjection</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            120
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>LoginControler</servlet-name>
        <servlet-class>controler.LoginControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassController</servlet-name>
        <servlet-class>controler.ChangePassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordControler</servlet-name>
        <servlet-class>controler.ForgotPasswordControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountListControler</servlet-name>
        <servlet-class>controler.AccountListControler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginControler</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login</welcome-file>
    </welcome-file-list>
</web-app>
