/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 14, 2022, 10:55:48 AM
    Author     : hapro
*/

.header{
    background-color: var(--bg-color);

    display: flex;
    align-items: center;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;

    padding : 1rem 5rem;
    left: 0;
    height: var(--header-height);
    transition: 0.3s ease-in ;
}

.header_btnMenu{
    cursor: pointer;
    margin-right: 5rem;
}
.header_btnMenu_img{
    width: 2rem;
}

.header_logo{
    width: 14rem;
    color : #FFD600;
}
.header_user{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.noti{
    position: relative;
    margin-right: 8rem;
    cursor: pointer;
}
img.noti_img{
    width: 2.7rem;
}
.noti_count{
    position: absolute;
    top: -1rem;
    right: -1rem;
    background-color: #FFD600;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
}


.user{
    display: flex;
    align-items: center;
}
.user_avt{
    background-color: #FFD600;
    border-radius: 50%;
    width: 4.8rem;
    height: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2.2rem;
}

.user_info{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
}
.user_name{
    color: var(--white-color);
    font-size: 1.5rem;
}
.user_role{
    background-color: var(--white-color);
    padding: 0.3rem 2.5rem;
    color: var(--black-color);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 0.5rem;
}