/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 14, 2022, 10:55:48 AM
    Author     : hapro
*/

.header{
    background-color: var(--bg-color);

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    
    padding : 2rem 5rem;
    padding-left: var(--sidebar-admin-width);
    height: var(--header-height);
}

.header_logo{
    width: 27rem;
    color : #FFD600;
}
.header_user{
    display: flex;
    align-items: center;

}

.noti{
    position: relative;
    margin-right: 8rem;
}

.noti_count{
    position: absolute;
    top : -0.5rem;
    right: -0.5rem;
    background-color: #FFD600;
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}


.user{
    display: flex;
    align-items: center;
}
.user_avt{
    background-color: #FFD600;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2.2rem;
}

.user_info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: flex-start;
}
.user_name{
    color: var(--white-color);
    font-size: 2rem;
}
.user_role{
    background-color: var(--white-color);
    padding: 0.5rem 3rem;
    color : var(--black-color);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 0.5rem;
}