/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 14, 2022, 12:06:29 PM
    Author     : hapro
*/

.sidebar{
    background-color: var(--bg-color);

    position: fixed;
    left: 0;
    z-index: 11;

    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding : 3rem 0;
}

.sidebarAdmin{
    width: var(--sidebar-admin-width);
}

.sidebarUser{
    width: var(--sidebar-user-width);

}

.sidebar_btnMenu, .sidebar_btnLogout{
    cursor: pointer;

}
.sidebar_btnMenu_img{
    width: 2rem;
}
.sidebar_btnLogout_img{
    width: 5rem;
}

.sidebar_list{
    font-size: 1.3rem;
    color : var(--white-color);
    overflow-y: auto;
    width: 100%;
    height : 100%;
    margin : 3rem 0;
}
.sidebar_list_Admin{
    padding-left : 3rem;

}
.sidebar_list_User, .sidebar_list_User .sidebar_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 2rem;
}

.sidebar_list a{
    text-decoration: none;
    color : var(--white-color);
}
dl{
    margin: 0;
}
dt{
    font-weight: bold;
    margin-bottom: 2rem;

}
dt a.selected{
    font-style: italic;
}
dd{
    margin-bottom: 1.5rem;
    margin-inline-start: 21px;

}

.sidebar_btnLogout{
    margin-top: auto;
}

/* custom scrollbar */
.sidebar_list::-webkit-scrollbar {
    width: 20px;
}

.sidebar_list::-webkit-scrollbar-track {
    background-color: transparent;
}

.sidebar_list::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.sidebar_list::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}