/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 10, 2022, 3:45:23 PM
    Author     : hapro
*/

/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 14, 2022, 12:06:29 PM
    Author     : hapro
*/

.sidebar{
    background-color: var(--bg-color);

    position: fixed;
    left: 0;
    z-index: 11;
    top : var(--header-height);

    height: calc(100% - var(--header-height));

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom : 3rem;
    transition: 0.3s ease-in ;
}
.sidebarAdmin{
    width: var(--sidebar-admin-width);
}
.sidebarUser{
    width: var(--sidebar-user-width);

}
body.hideSidebar .sidebar{
    transform: translateX(-100%);
}


.sidebar_btnLogout_img{
    width: 5rem;
}

.sidebar_list{
    font-size: 1.3rem;
    color : var(--white-color);
    overflow-y: auto;
    width: 100%;
    height : 100%;
    margin : 2rem 0;
    padding-left : 1rem;
}
/*.sidebar_list_Admin{
    padding-left : 1rem;

}*/
.sidebar_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 0.5rem;



    padding: 1rem 0;
    border: 2px darkcyan solid;
    border-radius: 2rem;
}
.sidebar_item.nb{
    border: none;
}
.sidebar_list a.sidebar_item{
    text-decoration: none;
    color: var(--white-color);
    text-align: center;
    margin-bottom: 2rem;
}
.sidebar_item.select {
    background: darkcyan;
    border: 2px solid white;
}
.sidebar_item:hover {
    border: 2px solid white;
}
.sidebar_item_img{
    width: 3.5rem
}
.img_profile{
    padding: 0.3rem;
}
dl{
    margin: 0;
}
dt{
    font-weight: bold;
    margin: 7rem 0 1.5rem 0;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 2.3rem;
}
dt.first{
    margin-top:0;
}
dt a.selected{
    font-style: italic;
}
dd{
    margin-bottom: 1.5rem;
    margin-inline-start: 21px;

}

.sidebar_btnLogout{
    margin-top: auto;
    cursor: pointer;
}

/* custom scrollbar */
.sidebar_list::-webkit-scrollbar {
    width: 20px;
}

.sidebar_list::-webkit-scrollbar-track {
    background-color: transparent;
}

.sidebar_list::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.sidebar_list::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}